__pycache__
*.pyc
.ipynb_checkpoints
data/
analysis/test/testdata.npy
*__pycache__
*.DS_Store
runs
distance_prediction
features
wandb
images
graphs
data
*obj_names_features.txt
*place_names_features.txt
*.npy
*.yml
*checkpoints
*.ckpt
*logs
rgb.mp4
depth.mp4
Hierarchical-Localization
outputs/
.vscode/
dbg-*
dbg/
log/
habitat-sim/
env/src/
demo_e200.ckpt
ViT-B-32.pt
networks
*.orig
*~
test*
results*
ignored/