h1{
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-break: auto;
    width: 75%;
}
.imagebox{
    object-fit: contain;
}
.buttonbox {
    text-align: center;
    margin-bottom: 20px;
}
.authorboxbox {
    margin-bottom: 40px;
}
.abstract{
    text-align: justify;
    text-justify: inter-word;
}
.header-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    min-width: 0px;
    margin-bottom: 20px;
}
a.button{
    transition: all .1s ease;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #fff;
    background: #000a47;
    line-height: 1.15;
    font-size: 16px;
    text-decoration: none;
}
a.button:hover {
    transition: all .1s ease;
    background: #001ac2;
}
